<div class="info-container">
  <h1 class="title about text-info">
    Profile
  </h1>
  <div id="sub-title-container">
    <p class="about sub-title">I am a passionate Web Developer specializing in JavaScript Frameworks</p>
    <hr />
  </div>
  <div id="about-contents" class="contents">
    <div id="intro" class="paragraph intro">
      <h3>Introduction</h3>
      My name is Yong Kuk Kim and I graduated from Seneca College with a Bachelor’s degree in Software Development.
    </div>
    <div class="paragraph background">
      <h3>Background</h3>
      I have always been interested in becoming a computer programmer since I was young. After having been exposed to
      advancements in computer science and IT during the early 2000s, I have become even more interested in the field
      and
      have decided to pursue a career in computer programming. So I enrolled at Seneca College in order to achieve my
      dreams.
    </div>

    <div class="paragraph in-school">
      <h3>During College</h3>
      During my four years of studies, I have learned a variety of programming languages like Java, C, and C++.
      However, I especially fell in love with web programming languages.
      I have learned about web programming technologies such as HTML5, CSS3, JavaScript, ASP.NET, PHP, and jQuery by
      completing academic projects
      and through an internship focused on upgrading a static website to a dynamic blog website.
    </div>

    <div class="paragraph out-school">
      <h3>After College</h3>
      After I graduated, I was determined to upgrade my skills by learning new web programming technologies
      such as front-end JavaScript Frameworks (Angular and React) and back-end technologies (REST API, Database, and
      Node.js).
      I saw myself growing in confidence as a web developer.
    </div>

    <div class="paragraph dream">
      <h3>My Dream</h3>
      I am committed to constantly upgrading my skills.
      I understand there are many existing technologies that I am yet to learn, and also new upcoming technologies.
      I will never stop learning, improving, and developing until I become a master of web development.
    </div>
  </div>
</div>