<div class="info-container">
  <h1 class="title project text-info">
    Projects</h1>
  <div id="sub-title-container">
    <p class="about sub-title">Everyone visualizes whether they know it or not. Visualizing is the great secret of
      success.</p>
    <p class="about sub-title"> - Geneviève Behrend</p>
    <hr />
  </div>
  <div class="contents">
    <div class="container">
      <div class="row" *ngFor="let row of project_desc">
        <div class="col" *ngFor="let proj of row">
          <div class="each-project">
            <ul class="menu" [ngStyle]="{'pointer-events' : proj.desc.length !== 0 ? 'initial' : 'none'}"
              (mouseenter)="openMenu($event)" (mouseleave)="closeMenu($event)">
              <li>{{proj.title}}</li>
              <li (click)="openSource($event, 'video')">Video</li>
              <li (click)="openSource($event, 'desc')">Description</li>
              <li><a target="_blank" href={{proj.website}}>Website</a></li>
              <li><a target="_blank" href={{proj.github}}>Github</a></li>
            </ul>
            <div class="proj-desc">
              <div class="back-to-menu" (click)="backMenu($event)">Back to Menu</div>
              <ul class="desc-block fadeIn animated">
                <li *ngFor="let each of proj.desc">{{each}}</li>
              </ul>
              <video class="video fadeIn animated" autoplay muted loop="infinite" (click)="playVideo($event)">
                <source src={{proj.video}} type="video/mp4">
              </video>
            </div>
            <div class="video-bg-container">
              <img *ngIf="proj.desc.length != 0" class="video-background" src={{proj.image}} />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>