<div class="info-container">
  <h1 [ngClass]="title" (mouseover)="title='title contact-list text-info animated bounce infinite'"
    (mouseout)="title='title contact-list text-info'">
    Contact</h1>
  <div id="sub-title-container">
    <p class="about sub-title">Feel free to contect me</p>
    <hr />
  </div>
  <div class="contents">
    <p class="jello animated">
      <!-- <img src="../../assets/phone.png" /> for localhost -->
      <img src="assets/phone.png" />
      416-930-6863</p>
    <br />
    <p class="jello animated">
      <img src="assets/linkedin.png" />
      <!-- <img src="../../assets/linkedin.png" /> for localhost  -->
      <a href="https://www.linkedin.com/in/yongkuk-kim" target="_blank">www.linkedin.com/in/yongkuk-kim</a>
    </p>
    <br />
    <p class="jello animated">
      <!-- <img src="../../assets/email.png" /> for localhost -->
      <img src="assets/email.png" />
      ykkim6@hotmail.com</p>
    <br />
  </div>
</div>