*{
    font-family: sans-serif
}
#image-mask{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 70px;
    width: 100%;
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
}

#pic-of-me{
    animation-duration: 2s;
    -ms-animation-duration: 2s;
    width: 280px;
    height: 280px;
    border-radius: 50px;
}
#greetings{
    animation-duration: 2s;
    -ms-animation-duration: 2s;
    font-size: 50px;
    color: white;
}

#page-group{
    height: 100%;
    position: relative;
    list-style-type: none;
    padding: 0;
}
.info-container{
    position: relative;
    height: 100%;
}
.first{
    /* background-image: url('../../assets/web_background2.jpg'); for localhost */
    background-image: url('../../assets/web_background2.jpg');
    background-size: 100% 100%;
    height: 100%;
    background-attachment: fixed;
}

.about-page, .work-exp, .projects, .contact{
    padding-top: 100px;
}

.about-page{
    margin-bottom: 40px;
}

.work-exp, .contact{
    background-color: beige;
}
.title{
    animation-duration: 2s;
    -ms-animation-duration: 2s;
    margin: 0 auto;
    margin-bottom: 30px;
    width: fit-content;
    letter-spacing: 3px;
    text-align: center;
    font-size: 50px;
}
.main{
    color: white;
    font-weight: bold;
    font-size: 85px;
}
.contents{
    letter-spacing: 2px;
    margin: 0 auto;
    padding-bottom: 40px;
    width: 80%;
}

.contents span{
    font-weight: bold;
}

#pagination{
    position: fixed;
    animation-duration: 2s;
    -ms-animation-duration: 2s;
    list-style: none;
    right: 50px;
    bottom: 150px;
    width: 150px;
    opacity: 0;
}
#pagination li{
    cursor: pointer;
    line-height: 70px;
    font-size: 20px;
    height: 70px;
    text-align: center;
    background-color: black;
    color: white;
}
.active-page{
background-color: #17a2b8!important;
}

@media only screen and (min-width: 320px) and (max-width: 720px) {
    #pagination{
        bottom: unset;
        top: 0;
        right: 0;
        left: 0;
        z-index: 20;
        width: 100%;
        padding: 0;
    }
    #pagination li{
        display: inline-block;
        line-height: 30px;
        font-size: 10px;
        height: 30px;
        width: 20%;
    }
    /* main */

    .first{
        background-size: cover;
    }

    #image-mask{
        top: 100px;
        bottom: unset;
    }

    #greetings{
        animation-duration: 1s;
        -ms-animation-duration: 1s;
        font-size: 25px;
    }

    .main{
        font-size: 50px;
    }

    #pic-of-me{
        animation-duration: 1s;
        -ms-animation-duration: 1s;
        width: 180px;
        height: 180px;
        border-radius: 25px;
    }

    /* about */

    .contents{
        width: 100%
    }
}