<!-- <nav id="page-container">
  <ul id="pages">
    <li><a class="each-page" routerLink="/about" routerLinkActive="active">About Website</a>
    <li><a class="each-page" routerLink="/main" routerLinkActive="active">About Myself</a>
    <li><a class="each-page" routerLink="/work_experience" routerLinkActive="active">Work Experience</a></li>
    <li><a class="each-page" routerLink="/projects" routerLinkActive="active">Projects</a></li>
    <li><a class="each-page" routerLink="/contact" routerLinkActive="active">Contact</a></li>
  </ul>
</nav> -->
<router-outlet></router-outlet>