*{
    font-family: fantasy;
}

#page-container{
    text-align: center;
    margin-bottom: 50px;
}

#pages{
    background-color: beige;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 5px;
    padding-bottom: 10px;
    height: fit-content;
    vertical-align: middle;
    list-style-type: none;
    font-size: 0;
}

#pages li {
    width: 400px;
    display: inline-block;
}

.each-page{
    font-size: 25px;
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
}

.each-page:hover{
    border-bottom: 2px ridge orange
}

.active{
    border-bottom: 2px ridge orange
}